.belowbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: none;
	color: white;
	text-align: center;
	height: auto;
	padding-bottom: 1rem;
	z-index: 800;
}

.belowbar-left,
.belowbar-right {
	font-size: 18px;
}

.belowbar-left {
	margin-left: 20px;
}

.belowbar-right {
	margin-right: 20px;
}


.agency-a1 {
	margin-left: 2%;
	margin-bottom: 0.5%;
}


.plans,
.login {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: text-shadow 0.2s ease-in-out;
}

.plans:hover,
.login:hover {
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 7px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}

#spinning-img,
#spinning-img1 {
	width: 1.5rem;
	height: auto;
	overflow: hidden;
	margin-right: 0.5rem;
	align-items: center;
	display: flex;
}




/* Tablet */

#spinning-img,
#spinning-img1 {
	width: 1.3rem;
	height: auto;
	overflow: hidden;
	margin-right: 0.5rem;
}






/* for phone */


.agency-a1 {
	margin-left: 2%;
	margin-bottom: 0.5%;
}


#spinning-img,
#spinning-img1 {
	width: 1rem;
	height: auto;
	overflow: hidden;
	margin-bottom: 0.2rem;
	margin-right: 0.5rem;
}