@font-face {
  font-family: "NewYork";
  src: url("fonts/new_york/NewYork\ PERSONAL\ USE.otf") format("truetype");
}

@font-face {
  font-family: "Sf";
  src: url("fonts/sf_pro_display/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "SfBold";
  src: url("fonts/sf_pro_display/SFPRODISPLAYBOLD.OTF") format("truetype");
}

@font-face {
  font-family: "SfItalic";
  src: url("fonts/sf_pro_display/SFPRODISPLAYTHINITALIC.OTF") format("truetype");
}

h1 {
  font-family: "Sf";
  font-weight: 500;
  cursor: default;
}

#newYork {
  font-family: "NewYork";
}

#sf {
  font-family: "Sf";
}

#newYorkL {
  font-family: "NewYork";
  transition: text-shadow 0.1s ease-in-out;
}

#SfL {
  font-family: "Sf";
  transition: text-shadow 0.1s ease-in-out;
}

#SfL:hover {
  font-family: "NewYork";
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

#newYorkL:hover {
  font-family: "Sf";
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: rgba(150, 150, 150, 0.2);
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.2);
}

#spinning-img,
#spinning-img1 {
  width: 1.5rem;
  height: auto;
  overflow: hidden;
  margin-right: 0.5rem;
  align-items: center;
  display: flex;
}

#plans-spinning-img1,
#plans-spinning-img2,
#plans-spinning-img3,
#plans-spinning-img4,
#plans-spinning-img5,
#plans-spinning-img6,
#plans-spinning-img7,
#plans-spinning-img8,
#plans-spinning-img9,
#plans-spinning-img10,
#plans-spinning-img11,
#plans-spinning-img12,
#plans-spinning-img13,
#plans-spinning-img14,
#plans-spinning-img15,
#plans-spinning-img16,
#plans-spinning-img17,
#plans-spinning-img18,
#plans-spinning-img19 {
  width: 1.5rem;
  height: auto;
  overflow: hidden;
  align-items: center;
  display: flex;
  margin-right: 0.5rem;
}

#plans-spinning-special1,
#plans-spinning-special2,
#plans-spinning-special3,
#plans-spinning-special4 {
  width: 3.5rem;
  height: auto;
  overflow: hidden;
  align-items: center;
  display: flex;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 80;
}

.circle-image {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.agency-a1 {
  margin-left: 2%;
  margin-bottom: 0.5%;
}

.agency-a {
  transition: text-shadow 0.2s ease-in-out;
}

.agency-a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 7px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}


.bars1 {
  margin-right: 2%;
  margin-bottom: 0.5%;
}

.plans,
.login {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: text-shadow 0.2s ease-in-out;
}

.plans:hover,
.login:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 7px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
}


body {
  height: 100%;
  color: white;
  background-color: black;
  font-family: "Sf", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  z-index: 999999999999999999;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(70, 70, 70, 0.5);
  color: white;
  padding: 10px 20px;
}

.navbar-left h1 {
  margin: 0;
}

.navbar-right {
  position: relative;
}

.burger-menu {
  width: 30px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  margin-right: 20px;
}

.grid1 {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 2;
}

.grid2 {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to bottom, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 2;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  opacity: 0.5;
}

.grid-container-outside {
  overflow: hidden;
}

.shiner-grider1,
.shiner-grider2 {
  overflow: hidden;
  width: auto;
  height: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

.landing-main-page,
.grid-container-inside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.landing-main-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid rgba(70, 70, 70, 1);
}

.load-in-container {
  overflow: hidden;
  display: flex;
  cursor: default;
}

.load-in-container p {
  font-size: 2rem;
  margin: 0;
  line-height: auto;
  cursor: default;
}

.belowbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: white;
  text-align: center;
  height: auto;
  padding-bottom: 1rem;
  z-index: 9999999999;
}

.belowbar-left,
.belowbar-right {
  font-size: 18px;
}

.belowbar-left {
  margin-left: 20px;
}

.belowbar-right {
  margin-right: 20px;
}

.brand-name {
  margin-left: 2%;
  margin-top: 1.5%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.brand-name a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

.nav-items {
  overflow: hidden;
}

.navigation-item {
  opacity: 0;
  transform: translateY(100%);
  overflow: hidden;
  transition: text-shadow 0.1s ease-in-out;
}

.navigation-item:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.hide-the-nav {
  overflow: hidden;
}

.load-in-container-bars {
  position: fixed;
  height: 50px;
  width: 50px;
  right: 2%;
  top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999999;
  cursor: pointer;
}


.main .bars {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 2%;
  top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 999999;
  cursor: pointer;
}

.main .bars::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #fff;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.main .bars.active::before {
  transform: rotate(45deg);
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8);
}

.main .bars::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 90%;
  background: #fff;
  margin-bottom: 60%;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.main .bars.active::after {
  transform: rotate(-45deg);
  width: 100%;
  margin-top: 60%;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  display: none;
}

.menu .nav {
  position: relative;
  margin-bottom: 100%;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "NewYork";
}

.menu .nav ul {
  opacity: 0;
}

.menu .nav ul li {
  list-style: none;
}

.navigation-item a {
  position: relative;
  font-size: 6rem;
  text-decoration: none;
  text-align: center;
  color: #7e7e7e;
  padding-left: 30px;
  padding-right: 30px;
}

.navigation-item a:hover,
.navigation-item a.active {
  color: #ffffff;
}

.landing-text-container {
  overflow: hidden;
  width: 100vw;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: default;
  position: fixed;
}

.land-line-container {
  overflow: hidden;
  width: 100vw;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#land-line {
  display: flex;
  font-size: 10vw;
  width: auto;
  line-height: 1;
}

.land-newyork1 {
  width: auto;
  margin: 0;
  padding: 0;
}

.column {
  width: 0;
  padding-top: 17rem;
}

.box {
  position: absolute;
  height: 100px;
}

.box span {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.box1 span {
  transform: rotate(60deg);
  margin: -20px;
  animation: animate 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
  margin-top: 4rem;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
}

.first-container {
  background-color: black;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#title {
  margin-top: 6rem;
  font-family: "Sf";
  font-weight: 500;
  font-size: 2rem;
  cursor: default;
  display: flex;
}


.moving-sideways {
  top: 0;
  right: 0;
  font-size: 15rem;
  margin-top: -4rem;
  font-family: "NewYork";
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.below-sideways-moving-text {
  margin-bottom: 4rem;
  font-size: 2rem;
  cursor: default;
  font-family: "SfItalic";
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.second-container {
  background-color: black;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.third-container {
  height: 100vh;
  background-color: black;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(70, 70, 70, 1);
  flex-wrap: wrap;
}

.third-container1 {
  height: 100vh;
  background-color: black;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fourth-container {
  height: 100vh;
  background-color: black;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border-top: rgba(70, 70, 70, 1) 1px solid;
  border-bottom: rgba(70, 70, 70, 1) 1px solid;
}


.fourth-title,
.fourth-title1 {
  align-self: baseline;
  position: absolute;
  z-index: 90;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


#text-line-container {
  width: 70%;
  align-items: center;
  text-align: center;
  display: flex;
  position: absolute;
}




.text-line {
  font-size: 2.5vw;
  font-family: "SfItalic";
  cursor: default;
}

.third-container,
.third-container1 {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 90;
}

.flying-card,
.flying-card1 {
  height: 70vh;
  background-color: rgb(0, 0, 0);
  background: radial-gradient(circle at 100% 100%, #000000 0, #000000 12px, transparent 12px) 0% 0%/13px 13px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 12px, transparent 12px) 100% 0%/13px 13px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 12px, transparent 12px) 0% 100%/13px 13px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 12px, transparent 12px) 100% 100%/13px 13px no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 2px) calc(100% - 26px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 26px) calc(100% - 2px) no-repeat,
    linear-gradient(145deg, transparent 0%, #ffffff 0%, rgba(0, 0, 0, 0.35) 100%);
  border-radius: 13px;
  padding: 9px;
  box-sizing: border-box;
  border-radius: 13px;
  flex: 1;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.flying-card:hover,
.flying-card1:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.upper-card {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  position: relative;
  padding-top: 6rem;
  cursor: default;
}

.card-number {
  font-size: 17vw;
  position: absolute;
  background: #FFFFFF;
  background: linear-gradient(180deg, #FFFFFF 40%, #00000000 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 30;
  cursor: default;
}

.card-title {
  position: absolute;
  font-size: 7vw;
  font-family: "NewYork";
  padding-bottom: 2rem;
  cursor: default;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.down-card {
  height: 50%;
  width: auto;
  display: flex;
  align-items: top;
  text-align: center;
  font-family: "SfItalic";
  font-size: 2vw;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: default;
}






#bgVideo-foto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;

}

#bgVideo-design {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;

}

#bgVideo-plans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 3;

}

.marquee {
  margin-top: 10vh;
  position: relative;
  padding: 30px 0;
  height: 48vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid rgba(70, 70, 70, 1);
  border-bottom: 1px solid rgba(70, 70, 70, 1);
}


.marquee-inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marquee-part {
  display: flex;
  height: 23rem;
  width: 23rem;
  margin-left: 2rem;
  background-color: rgb(134, 13, 13);
  z-index: 90;
  border-radius: 13px;
  cursor: ew-resize;
}

.marquee-part {
  user-select: none;
  /* Standard syntax */
  -webkit-user-select: none;
  /* Webkit browsers */
  -moz-user-select: none;
  /* Mozilla Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.size-scroll-foto {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 900;
  justify-content: center
}

.more-images {
  font-family: "SfItalic";
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  transition: text-shadow 0.2s ease-in-out;
}

.more-images:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 35px rgba(255, 255, 255, 1);
}

.more-plans {
  font-family: "SfItalic";
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: text-shadow 0.2s ease-in-out;
}

.more-plans:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 35px rgba(255, 255, 255, 1);
}

.fifth-container {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 90;
  background-color: black;
  position: relative;
}




.tenth-container {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 90;
  background-color: black;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.benefits-card {
  width: 400px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.benefits-card-image {
  background-color: black;
  background: radial-gradient(circle at 100% 100%, #000000 0, #000000 12px, transparent 12px) 0% 0%/13px 13px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 12px, transparent 12px) 100% 0%/13px 13px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 12px, transparent 12px) 0% 100%/13px 13px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 12px, transparent 12px) 100% 100%/13px 13px no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 2px) calc(100% - 26px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 26px) calc(100% - 2px) no-repeat,
    linear-gradient(145deg, transparent 0%, #ffffff 0%, rgba(0, 0, 0, 0.35) 100%);
  border-radius: 13px;
  padding: 9px;
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s ease-in-out;
}

.benefits-card-image:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.benefits-content {
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin-top: 30vh;
  margin-bottom: 15vh;
  text-align: center;
}

.benefits-title {
  font-size: 4rem;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.benefits-text-content {
  font-size: 1.3rem;
  width: 90%;
  padding-bottom: 0.5rem;
}







.eleventh-container {
  background-position: center;
  z-index: 90;
  background-color: black;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid rgba(70, 70, 70, 1);
  border-bottom: 1px solid rgba(70, 70, 70, 1);
}

.benefits-marquee {
  margin-top: 4vh;
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
}


#marquee-inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

#marquee-part {
  display: flex;
  height: 4rem;
  width: fit-content;
  margin-left: 2rem;
  background: radial-gradient(circle at 100% 100%, #000000 0, #000000 10px, transparent 10px) 0% 0%/11px 11px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 10px, transparent 10px) 100% 0%/11px 11px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 10px, transparent 10px) 0% 100%/11px 11px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 10px, transparent 10px) 100% 100%/11px 11px no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 2px) calc(100% - 22px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 22px) calc(100% - 2px) no-repeat,
    linear-gradient(145deg, transparent 0%, #ffffff 0%, rgba(0, 0, 0, 0.35) 100%);
  border-radius: 11px;
  padding: 9px;
  box-sizing: border-box;
  z-index: 90;
  cursor: ew-resize;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

}

#marquee-part {
  transition: box-shadow 0.1s ease-in-out;
}

#marquee-part:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.marquee-part {
  transition: box-shadow 0.1s ease-in-out;
}

.marquee-part:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3), 0 0 45px rgba(255, 255, 255, 0.3);
}

.plans-card-container-border {
  transition: box-shadow 0.2s ease-in-out;
}

.plans-card-container-border:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2), 0 0 45px rgba(255, 255, 255, 0.2);
}

.plans-card-container-premium {
  transition: box-shadow 0.2s ease-in-out;
}

.plans-card-container-premium:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2), 0 0 45px rgba(255, 255, 255, 0.2);
}

#marquee-part {
  user-select: none;
  /* Standard syntax */
  -webkit-user-select: none;
  /* Webkit browsers */
  -moz-user-select: none;
  /* Mozilla Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.slider-benefits-container {
  margin-top: 20vh;
  margin-bottom: 15vh;
}








.Choose-content {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.Choose-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
  text-align: center;
  margin-top: 30vh;
  min-height: 70vh;
}

.Choose-title {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Choose-text-content {
  font-size: 1.3rem;
  border-top: 1px solid rgba(70, 70, 70, 1);
  width: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}

.choose-first-title {
  font-family: "NewYork";
  font-size: 4rem;
  margin-bottom: -0.7rem;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 45px rgba(255, 255, 255, 0.5);
  cursor: default;
}

.choose-first-title-content {
  font-size: 1.5rem;
  font-family: "SfItalic";
  margin-bottom: 0.5rem;
  cursor: default;
}

.Choose-text-content-title {
  font-size: 2rem;
  font-family: "Sf";
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: default;
}

.Choose-text-content-content {
  font-family: "SfItalic";
  font-size: 2rem;
  color: #7e7e7e;
}

.plans-content-table {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 5px;
}

.plans-content-holder {
  display: flex;
  align-items: center;
  transition: text-shadow 0.2s ease-in-out;
  font-family: "SfItalic";
  cursor: default;
}

.plans-content-holder:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.9), 0 0 45px rgba(255, 255, 255, 0.9);
}

.plans-card-container-border {
  background: radial-gradient(circle at 100% 100%, #000000 0, #000000 10px, transparent 10px) 0% 0%/11px 11px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 10px, transparent 10px) 100% 0%/11px 11px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 10px, transparent 10px) 0% 100%/11px 11px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 10px, transparent 10px) 100% 100%/11px 11px no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 2px) calc(100% - 22px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 22px) calc(100% - 2px) no-repeat,
    linear-gradient(145deg, transparent 0%, #ffffff 0%, rgba(0, 0, 0, 0.35) 100%);
  border-radius: 11px;
  padding: 9px;
  box-sizing: border-box;
  padding: 9px;
  width: 350px;
  margin: 20px;
  height: auto;

  display: flex;
  flex-direction: column;
  text-align: center;

  position: relative;
}

.plans-card-container-premium {
  background-color: #000000;
  border-radius: 11px;
  border: 1px solid #7e7e7e;
  box-sizing: border-box;
  padding: 9px;
  width: 350px;
  margin: 20px;
  height: auto;

  display: flex;
  flex-direction: column;
  text-align: center;

  position: relative;

}

.plans-container-inside1,
.plans-container-inside2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}


.plans-container-inside3,
.plans-container-inside4 {
  overflow: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}





.buy-button {
  width: 100%;
  height: auto;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: box-shadow 0.1s ease-in-out;
}

.buy-button p {
  color: black;
  font-size: 1.5rem;
}

.buy-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2), 0 0 45px rgba(255, 255, 255, 0.2);
}

.price {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3rem;
  cursor: default;

}





.fourth-title,
.fourth-title1 {
  align-self: baseline;
  position: absolute;
  z-index: 90;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
}

.load-in-container {
  overflow: hidden;
  display: flex;
  cursor: default;

}

.load-in-container p {
  font-size: 2rem;
  margin: 0;
  line-height: auto;
  cursor: default;
}


.twelft-container {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 90;
  background-color: black;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thirteenth-container {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 70, 70, 0.5) 1px, transparent 1px);
  background-position: center;
  z-index: 90;
  background-color: black;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Choose-card {
  width: 350px;
  margin: 20px;
  height: auto;
  border-radius: 13px;
  box-shadow: 0 0 10px rgba(151, 59, 59, 0.2);
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(255, 0, 0)
}




.Choose-content {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Choose-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
  text-align: center;
  margin-top: 30vh;
}

.Choose-title {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.Choose-text-content {
  font-size: 1.3rem;
  border-top: 1px solid rgba(70, 70, 70, 1);
  width: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}

.choose-first-title {
  font-family: "NewYork";
  font-size: 4.5rem;
  margin-bottom: -0.7rem;
}

.choose-first-title-content {
  font-size: 1.5rem;
  font-family: "SfItalic";
  margin-bottom: 0.5rem;
}

.Choose-text-content-title {
  font-size: 2rem;
  font-family: "Sf";
}

.Choose-text-content-content {
  font-family: "SfItalic";
  font-size: 2rem;
}

.swich-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  vertical-align: middle;
  height: auto;
  margin-top: 3vh;
  width: auto;
  gap: 10px;
  margin-bottom: 10vh;
}

.simple-text {
  font-size: 2rem;
  cursor: default;
}

.premium-text {
  font-family: "NewYork";
  font-size: 2rem;
  margin-left: 15px;
  cursor: default;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.checkbox {
  display: none;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('');
  background-size: cover;
  transition: background-color 0.4s;
  border-radius: 34px;
  border: 1px solid rgb(255, 255, 255);
  width: 70px;

}

.switch::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: url('images/Empty\ Star.svg');
  /* SVG with transparent background */
  background-size: contain;
  transition: all 1s;
  /* Added transition for background-image */
}

.checkbox:checked+.switch::before {
  transform: translateX(70px);
  background-image: url('images/Filled\ Star.svg');
}

.checkbox:checked+.switch::before {
  transform: translateX(37px) rotate(180deg);
}

.container {
  width: 200px;
  height: 100px;
  background-color: lightgray;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.hidden {
  display: none;
}














@media screen and (max-width: 1024px) {


  .Choose-container {
    min-height: 170vh;
    margin-top: 40vh;
  }

  .plans-card-container-border {
    margin-bottom: 10px;
  }

  .plans-card-container-premium {
    margin-bottom: 7vh;
  }

  #SfL:hover {
    font-family: "Sf";
    text-shadow: none;
  }

  #newYorkL:hover {
    font-family: "NewYork";
    text-shadow: none;
  }

  .marquee-part {
    height: 17rem;
    width: 17rem;
  }

  .text-line {
    font-size: 2.7vw;
  }

  .box1 span {
    margin-top: 4rem;
  }

  .down-card {
    font-size: 5vh;
  }

  .third-container,
  .third-container1 {
    flex-direction: column;
  }

  .card-title {
    font-size: 15vh;
  }

  .card-number {
    font-size: 35vh;
    position: absolute;
  }

  .flying-card,
  .flying-card1 {
    height: 70vh;
    width: 80%;
    position: absolute;
    box-shadow: 1px -1px 60px 60px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -1px 60px 60px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 60px 60px rgba(0, 0, 0, 0.75);
  }

  .flying-card:hover,
  .flying-card1:hover {
    box-shadow: 1px -1px 60px 60px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -1px 60px 60px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -1px 60px 60px rgba(0, 0, 0, 0.75);
  }

  #title {
    margin-top: 5rem;
    font-family: "Sf";
    font-weight: 500;
    font-size: 2rem;
  }

  .circle {
    display: none;
  }

  .below-sideways-moving-text {
    margin-bottom: 4rem;
    font-size: 2rem
  }

  .moving-sideways {
    font-size: 10rem;

  }

  #spinning-img,
  #spinning-img1 {
    width: 1.3rem;
    height: auto;
    overflow: hidden;
    margin-right: 0.5rem;
  }

  #plans-spinning-img1,
  #plans-spinning-img2,
  #plans-spinning-img3,
  #plans-spinning-img4,
  #plans-spinning-img5,
  #plans-spinning-img6,
  #plans-spinning-img7,
  #plans-spinning-img8,
  #plans-spinning-img9,
  #plans-spinning-img10,
  #plans-spinning-img11,
  #plans-spinning-img12,
  #plans-spinning-img13,
  #plans-spinning-img14,
  #plans-spinning-img15,
  #plans-spinning-img16,
  #plans-spinning-img17,
  #plans-spinning-img18,
  #plans-spinning-img19 {
    width: 1.4rem;
    height: auto;
    overflow: hidden;
  }


  .circle-image {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .navigation-item a {
    font-size: 4rem;
  }

  .column {
    padding-top: 7rem;
  }
}

@media screen and (max-width: 600px) {

  .Choose-container {
    margin-top: 30vh;
  }

  .Choose-card {
    width: 80%;
    margin-bottom: 1vh;
  }

  .plans-card-container-border {
    width: 80%;
    margin-bottom: 5vh;
  }

  .plans-card-container-premium {
    width: 80%;
    margin-bottom: 5vh;
  }

  #text-line-container {
    width: 90%;
  }

  .text-line {
    font-size: 7vw;
  }

  .down-card {
    font-size: 7vw;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .third-container,
  .third-container1 {
    flex-direction: column;
  }

  .card-title {
    font-size: 20vw;
  }

  .card-number {
    font-size: 60vw;
    position: absolute;
  }

  .flying-card,
  .flying-card1 {
    height: 70vh;
    width: 80%;
    position: absolute;
  }

  #title {
    margin-top: 5rem;
    font-family: "Sf";
    font-weight: 500;
    font-size: 1rem;
  }

  .below-sideways-moving-text {
    margin-bottom: 6rem;
    font-size: 1.5rem
  }

  .moving-sideways {
    font-size: 7rem;
  }

  .nav {
    margin-bottom: 200%;
  }

  .main .bars {
    right: 3%;
    top: 2%;
  }

  .brand-name {
    margin-left: 5%;
    margin-top: 5%;

    a {
      font-size: 1rem;
    }
  }

  #land-line {
    font-size: 15vw;
  }

  .circle {
    display: none;
  }

  a.plans {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  a.login {
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .agency-a1 {
    margin-left: -1%;
    margin-bottom: -7%;
  }

  .bars1 {
    margin-right: 3.5%;
    margin-bottom: -6%;
  }

  #spinning-img,
  #spinning-img1 {
    width: 1rem;
    height: auto;
    overflow: hidden;
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
  }

  #plans-spinning-img1,
  #plans-spinning-img2,
  #plans-spinning-img3,
  #plans-spinning-img4,
  #plans-spinning-img5,
  #plans-spinning-img6,
  #plans-spinning-img7,
  #plans-spinning-img8,
  #plans-spinning-img9,
  #plans-spinning-img10,
  #plans-spinning-img11,
  #plans-spinning-img12,
  #plans-spinning-img13,
  #plans-spinning-img14,
  #plans-spinning-img15,
  #plans-spinning-img16,
  #plans-spinning-img17,
  #plans-spinning-img18,
  #plans-spinning-img19 {
    width: 1.3rem;
    height: auto;
    overflow: hidden;
  }

  .circle-image {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .navigation-item a {
    font-size: 4rem;
  }

  .column {
    padding-top: 7rem;
  }
}

section {
  background-color: transparent;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: clamp(2rem, 5vw, 8rem);
    word-wrap: break-word;
    cursor: default;
  }
}






#design-example-foto1 {
  background-image: url(images/web-design-example1.png);
  background-size: cover;
  background-position: center;
}

#design-example-foto2 {
  background-image: url(images/web-design-example2.png);
  background-size: cover;
  background-position: center;
}

#design-example-foto3 {
  background-image: url(images/web-design-example3.png);
  background-size: cover;
  background-position: center;
}

#design-example-foto4 {
  background-image: url(images/web-design-example4.png);
  background-size: cover;
  background-position: center;
}

#design-example-foto5 {
  background-image: url(images/web-design-example5.png);
  background-size: cover;
  background-position: center;
}

#design-example-foto6 {
  background-image: url(images/web-design-example6.png);
  background-size: cover;
  background-position: center;
}








#web-example-foto1 {
  background-image: url(images/web-design-example1.png);
  background-size: cover;
  background-position: center;
}

#web-example-foto2 {
  background-image: url(images/web-design-example2.png);
  background-size: cover;
  background-position: center;
}

#web-example-foto3 {
  background-image: url(images/web-design-example3.png);
  background-size: cover;
  background-position: center;
}

#web-example-foto4 {
  background-image: url(images/web-design-example4.png);
  background-size: cover;
  background-position: center;
}

#web-example-foto5 {
  background-image: url(images/web-design-example5.png);
  background-size: cover;
  background-position: center;
}

#web-example-foto6 {
  background-image: url(images/web-design-example6.png);
  background-size: cover;
  background-position: center;
}




#compare-card-1 {
  transition: box-shadow 0.1s ease-in-out;
}

#compare-card-1:hover {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 0, 0, 0.5), 0 0 45px rgba(255, 0, 0, 0.5);
}

#compare-card-2 {
  transition: box-shadow 0.1s ease-in-out;
}

#compare-card-2:hover {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 0, 0, 0.5), 0 0 45px rgba(255, 0, 0, 0.5);
}

#compare-card-3 {
  transition: box-shadow 0.1s ease-in-out;
}

#compare-card-3:hover {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 0, 0, 0.5), 0 0 45px rgba(255, 0, 0, 0.5);
}

#compare-card-4 {
  border: 1px solid rgb(0, 255, 0);
}

#compare-card-4:hover {
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5), 0 0 30px rgba(0, 255, 0, 0.5), 0 0 45px rgba(0, 255, 0, 0.5);
}
