/* Fonts */
@font-face {
  font-family: "NewYork";
  src: url("fonts/new_york/NewYork\ PERSONAL\ USE.otf") format("truetype");
@@ -9,7 +8,43 @@
  src: url("fonts/sf_pro_display/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

/* Essentials */
@font-face {
  font-family: "SfBold";
  src: url("fonts/sf_pro_display/SFPRODISPLAYBOLD.OTF") format("truetype");
}

h1 {
  font-family: "SfBold";
}

#newYork {
  font-family: "NewYork";
}

#sf {
  font-family: "Sf";
}

#newYorkL {
  font-family: "NewYork";
  transition: font-size 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#SfL {
  font-family: "Sf";
  transition: font-size 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#SfL:hover {
  font-size: 110%;
  font-family: "NewYork";
}

#newYorkL:hover {
  font-size: 110%;
  font-family: "Sf";
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@@ -33,11 +68,18 @@ a:active {
  padding: 0;
}

/* Hide scrollbar when not needed */
::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: rgba(150, 150, 150, 0.2);
}

::-moz-selection {
  background-color: rgba(150, 150, 150, 0.2);
}

#spinning-img,
#spinning-img1 {
  width: 1.5rem;
@@ -75,7 +117,6 @@ a:active {
  align-items: center;
}

/* Body */
body {
  height: 100%;
  color: white;
@@ -84,7 +125,6 @@ body {
  overflow-x: hidden;
}

/* Circle */
.circle {
  --circle-size: 40px;
  position: fixed;
@@ -98,14 +138,6 @@ body {
  z-index: 999999999999999999;
}

/* Containers */
.first-container {
  background-color: black;
  height: 100vh;
  width: auto;
}

/* Navigation bar */
.navbar {
  position: fixed;
  top: 0;
@@ -138,15 +170,6 @@ body {
  margin-right: 20px;
}

/* Grid */
.grid {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 2;
}

.grid1 {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px);
@@ -161,7 +184,6 @@ body {
  z-index: 2;
}

/* Background video */
#bgVideo {
  position: fixed;
  right: 0;
@@ -174,7 +196,6 @@ body {
  opacity: 0.5;
}

/* Landing page */
.grid-container-outside {
  overflow: hidden;
}
@@ -201,6 +222,14 @@ body {
  overflow-x: hidden;
}

.landing-main-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid rgba(70, 70, 70, 1);
}

.load-in-container {
  overflow: hidden;
  display: flex;
@@ -214,7 +243,6 @@ body {
  cursor: default;
}

/* Navigation Below Bar */
.belowbar {
  position: fixed;
  bottom: 0;
@@ -228,7 +256,7 @@ body {
  text-align: center;
  height: auto;
  padding-bottom: 1rem;
  z-index: 999999;
  z-index: 9999999999;
}

.belowbar-left,
@@ -244,11 +272,12 @@ body {
  margin-right: 20px;
}

/* Nav bar */
.brand-name {
  position: fixed;
  margin-left: 2%;
  margin-top: 1.5%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.brand-name a {
@@ -401,14 +430,6 @@ body {
  line-height: 1;
}

#newYork {
  font-family: "NewYork";
}

#sf {
  font-family: "Sf";
}

.land-newyork1 {
  width: auto;
  margin: 0;
@@ -421,17 +442,16 @@ body {
}

.box {
  position: absolute;
  position: fixed;
  height: 100px;
}

.box span {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  position: fixed;
  bottom: 8rem;
}

.box1 span {
@@ -456,8 +476,96 @@ body {
  }
}

/* Media Queries */
.first-container {
  background-color: black;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.title {
  margin-top: 6rem;
  font-family: "Sf";
  font-weight: 500;
  font-size: 2rem;
  cursor: default;
  display: flex;
}

.moving-sideways {
  top: 0;
  right: 0;
  font-size: 15rem;
  margin-top: -4rem;
  font-family: "NewYork";
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.below-sideways-moving-text {
  margin-bottom: 4rem;
  font-size: 2rem;
  cursor: default;
}

.second-container {
  background-color: black;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-container {
  height: 100vh;
  background-color: black;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(70, 70, 70, 1);
}

.third-container {
  background-size: 10rem 10rem;
  background-image: linear-gradient(to right, rgba(70, 70, 70, 1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(70, 70, 70, 1) 1px, transparent 1px);
  background-position: center;
  z-index: 90;
}

@media screen and (max-width: 600px) {
  .title {
    margin-top: 5rem;
    font-family: "Sf";
    font-weight: 500;
    font-size: 1rem;
  }

  .below-sideways-moving-text {
    margin-bottom: 4rem;
    font-size: 1rem
  }

  .moving-sideways {
    font-size: 7rem;
  }

  .nav {
    margin-bottom: 200%;
  }
@@ -534,3 +642,21 @@ body {
    padding-top: 7rem;
  }
}

section {
  background-color: transparent;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: clamp(2rem, 5vw, 8rem);
    word-wrap: break-word;
    cursor: default;
  }
}
